


		<header>
				<h1>Dojo Survey</h1>
		</header>
	
		<div>
			
			<form action='/result' method='post'>
				 <input type="hidden" name="authenticity_token" value="VxLCoqvap2IdbFioGuFfTadt+I5jVDPKxwg+6/1wPZIXUHTPyQzAq6Bat6MXlSF9HYrxQN3aXSZWZqJPMf2HOx==" />
		    <p>Your Name:<input type='text' name='name'></p>
		    <p>Dojo Location:  <select id = "location1" name="location">
										    <option value="San Jose">San Jose</option>
										    <option value="Dallas">Dallas</option>
										    <option value="Washington">Washington D.C.</option>
											  </select></p>

		    <p>Favorite Language:  <select id = "language1" name="language">
												    <option value="Python">Python</option>
												    <option value="HTML">HTML</option>
												    <option value="Ruby On Rails">Ruby on Rails</option>
													  </select></p>
				<p>Comment (optional):</p>
				<textarea name="comment"></textarea>
		 
				<input id="button1" type='submit' value='Submit'>
			</form>
		</div>


