<div id = "wrap">
	<div>
		<h1>The Current Date and Time:</h1>
	<p><%=DateTime.current.strftime("%m/%d/%Y")%></p>
	<p><%=DateTime.current.strftime("%a, %b %e at %l:%M")+ DateTime.current.strftime("%p").downcase%></p>
	
	</div>

</div>
