
<h1>Create New User</h1>
<% if flash[:notice] %>
  <% flash[:notice].each do |note| %>
    <p id="notice"><%= note %></p>  
  <% end %>
<% end %>
<form action = "/users/create" method = "post">
  <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
  <label>Name</label>
  <input type = "text" name = "name" id = "user_name">
    <label>Email</label>
  <input type = "text" name = "email" id = "user_email">
    <label>Password</label>
  <input type = "text" name = "password" id = "user_password">
        <label>Confirm Password</label>
  <input type = "text" name = "password_confirmation" id = " password_confirmation">


  <input type = "submit" value = "Join" id = "Join">
</form>