// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*
{
	margin:0;
	padding: 0;
	font-family: 'Slabo 27px', serif;
}

#wrapper
{
	width: 900px;
	margin: auto;
}

h1
{
	margin-bottom: 5px;
}
#flash1
{
	width: 900px;
}
#notice
{
	color:green;
}
#alert1
{
	color:red;
}

.left1, .right1
{
	border: 1px solid black;
	width: 400px;
	padding: 10px;


	display: inline-block;
	vertical-align: top;
}
.right1
{
	margin-left: 10px;
}
p
{
	font-size: 18px;
}
#input_location
{
	width: 148px;
}
.input1
{
	text-align: left;
	width: 200px;
}
.label1
{
	text-align: left;
	width: 150px;
}
.row1
{
	text-align:right;
	width:350px;
	padding: 16px;
	margin-right: 10px;
}

#register, #login
{
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

.border1
{
	border: 1px solid black;
}







